body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    overflow: hidden;
  }
  
  .slider {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  p {
    text-align: justify;
    font-size: 18px;
    color: black;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #ff33ff, #ff00cc, #3333ff, #ff33ff);
    background-size: 600% 600%;
    animation: rainbow 15s ease infinite;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  footer p {
    font-size: 16px;
    color: #fff;
    text-align: justify;
    margin: 10px 0;
  }
  
  footer p strong {
    font-size: 18px;
    color: #fff;
  }
  
  @keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  
  
  .play-button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .play-button:hover {
    background-color: #e68900;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .progress-bar-container {
    position: relative;
    height: 5px;
    background-color: #ccc;
    border-radius: 2.5px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    width: 0;
    background-color: #ff9800;
    transition: width 5s linear;
  }

  
  